# Document builder resourses
docbuilder/
docbuilder_linux/
docbuilder_win/

# Build files
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
libDocBuilderAddIn.so
Makefile

#Other
.vscode/

DocBuilder.epf